.trackContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.trackBtn {
  margin-right: 30px;
  width: 100%;
  max-width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-duration: 0.3s;

  &:hover {
    background-color: #c86efc23;
    transition-duration: 0.1s;
  }
}

.trackPreview {
  width: 100%;
  max-width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 20px;

  img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
  }
}

.trackDesc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .trackTitle {
    white-space: nowrap;
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 17px;
  }

  .trackArtist {
    white-space: nowrap;
    font-size: 16px;
  }

  .trackTime {
    font-weight: 500;
  }

  .trackPlays {
    color: #c86efc;
  }
}
