.playbar {
  width: 100%;
  height: max-content;
  position: fixed;
  left: 0;
  bottom: 0px;
  backdrop-filter: blur(5px);
  background-color: #c86efcab;
  display: flex;
  align-items: center;
  padding: 15px 30px;

  .playbarPreview {
    width: 100%;
    max-width: 80px;
    height: 80px;
    margin-right: 40px;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .playbarBtn {
    margin-right: 40px;
    width: 100%;
    max-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition-duration: 0.3s;

    &:hover {
      background-color: #ffffff23;
      transition-duration: 0.1s;
    }
  }

  .playbarDesc {
    margin-right: 80px;
    width: 100%;
    max-width: 200px;

    .playbarTitle {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 3px;
    }

    .playbarArtist {
      font-size: 20px;
    }
  }

  .playbarTitle,
  .playbarArtist,
  .playbarTime {
    color: #ffffff;
    white-space: nowrap;
  }

  .playbarTime {
    font-size: 20px;
  }

  .playbarCurrentTime {
    margin-right: 100px;
  }

  .playbarRange {
    width: 100%;
    margin-right: 50px;

    input {
      -webkit-appearance: none;
      overflow: hidden;
      background: transparent;
      cursor: pointer;
      appearance: none;
      width: 100%;
      height: 5px;
      display: flex;
      border-radius: 10px;

      &:focus {
        outline: none;
      }

      &::-webkit-slider-runnable-track {
        background-color: #ffffff;
        border-radius: 10px;
        height: 5px;
        overflow: hidden;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: #484649;
        height: 0px;
        width: 0px;
        box-shadow: -600px 0 0px 600px #484649;
        border-radius: 10px;
      }

      &::-moz-range-track {
        background: #ffffff;
        overflow: hidden;
        border-radius: 10px;
        height: 5px;
      }

      &::-moz-range-thumb {
        appearance: none;
        overflow: hidden;
        border: none;
        background-color: #484649;
        height: 0px;
        width: 0px;
        border-radius: 10px;
        height: 0px;
        width: 0px;
        box-shadow: -600px 0px 0px 600px #484649;
        border-radius: 10px;
      }
    }
  }

  // .playbarDurationTime {
  //   margin-left: auto;
  // }
}

.playbarControls {
  width: 100%;
  display: flex;
  align-items: center;
}
