* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

ul {
  list-style-position: inside;
}

li {
  list-style-type: none;
}

